body{
    color: #F8E18D;
    background-color: #F8E18D;

}

.recipe-card{
    margin: 0.8rem;
    display: flex;
    /* display: flexbox; */
    /* float: left; */
    text-align: center;
}

.recipe-card ul > li{
    font-size: 70%;
    list-style: none;
    text-align: left;
    
    margin: .5rem;
    margin-left: -2.5rem;
    
}
.recipe-card ol > li{
    font-size: 70%;
    margin-left: -2rem;
}

/* https://www.w3docs.com/snippets/html/how-to-create-an-html-button-that-acts-like-a-link.html */
.button {
    margin-top: .4rem;
    border: none;
    color: F2F0EC;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    }

.button > a {
    color: F2F0EC;
    text-decoration: none;
}

.button:hover {
    color: #4485AA;
    text-decoration: none;
}
.button-wrapper{
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

.card{
    background-color: #4485AA;
}
.card-text > h6{
    text-align: center;
    font-size: 130%;
    color: #6A3034;
    font-weight: 800;
}
.card-text > h5{
    font-size: 130%;
    color: #6A3034;
    font-weight: 800;
}
.card-text{
    color: lightyellow;
    font-size: 110%;
}
.card-title{
    font-size: 2.5rem;
    color: #F8E18D;
    font-weight: 800;
}
.vegetarian-true-false{
    color: #6A3034;
}
.fa-li {
    position: relative;
    left: 0;
    top: 0;
    padding-top: .3rem;
    
}
.checkbox-true{
    color: #3bda63;
}
.checkbox-false{
    color: red;
}
/* a{
    text-decoration: none;

}
a:hover{
    text-decoration: none;
} */

.navbar{
    background-color: #F7734E;  
}
.navbar-link{
    color: #F8E18D;
}
.navbar-light .navbar-nav .nav-link {
    color: #F8E18D;
    font-weight: 800;
}


.add-recipe-form{
    background-color: #4485AA;
    padding: 1rem;
    margin-top: 4%;
}

label{
    font-weight: 800;
}
.form-check-label{
    margin-top: auto;
    padding-right:2rem;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.form-check-input{
    margin-top: 0.75rem;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 2;
}
.col-form-label{
    font-size: 1rem;

}

.custom-file-label::after{
    padding-left: 2%;
    padding-right: 2%;
}


#login .modal-content{
    color: #6A3034;
    background-color: #F8E18D;
}

#login .modal-title{
    font-size: 180%;
    font-weight: 700;
}
#signUp .modal-content{
    color: #6A3034;
    background-color: #F8E18D;
}

#signUp .modal-title{
    font-size: 180%;
    font-weight: 700;
}