{% extends "layout/footer_nav.html" %}
{% block content %}


{% if session["user_name"] %}
<div class="row" style=" width:100%;">
    <div class="col" style="text-align:center; margin-top: 0%;">
        <h2 class="delete-edit-h2">You can only delete and edit your own recipes</h2>
    </div>
    <div class="col" style="padding:0; margin-right:0%;">
        <div class="float-right">
            <a class="nav-item btn btn-primary" style="margin-top:10%;"
                href="{{url_for('create_recipe.load_create_page')}}"><i class="fa fa-plus fa-2x"
                    aria-hidden="true"></i></a>
        </div>
    </div>
</div>
{% else %}
<div class="row" style="width:100%;">
    <h2 class="mx-auto">Please log in to add and edit recipes</h2>
</div>
{% endif %}
<div class="row recipe-card-row">
    {% for recipe in recipeCollection %}

    <div class="card recipe-card col-md-4 col-sm-12" style="width: 100%;">
        <img src="{{url_for('load_many_recipes.showImage', filename=recipe['recipe_image_Id'])}}" style=""
            class="mx-auto">
        <div class="card-body">
            <h4 class="card-title">{{recipe.recipeName}}</h4>


            <div class="card-text recipe-card-text" style="width: 100%; float: left; padding: 0.4rem;">
                <h6>Ingredients</h6>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li><strong>{{ingredient}}</strong></li>
                    {% endfor %}
                </ul>
                <h6 class="text-capitalize">Author {{recipe.author}}</h6>
                <div class=" button-wrapper">

                    <a class="button btn btn-success"
                        href="{{url_for('recipe_details.details_recipe', recipeName=recipe.recipeName)}}">Details</a>



                </div>
            </div>

        </div>
    </div>


    {% endfor %}
</div>

{% include 'modals.html'%}

{% endblock content %}