{% extends "layout/footer_nav.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="float-right" style="margin-right:2%;">
            <button class="btn btn-default"><i class=" fa fa-plus fa-3x" aria-hidden="true"
                    href=" {{url_for('create_recipe.load_create_page')}}"></i></button>
        </div>
    </div>
</div>
<div class="row recipe-card-row">
    {% for recipe in recipeCollection %}

    <div class="card recipe-card col-md-4 col-sm-12" style="width: 100%;">
        <img src="{{url_for('load_many_recipes.showImage', filename=recipe['recipe_image_Id'])}}" style=""
            class="mx-auto">
        <div class="card-body">
            <h4 class="card-title">{{recipe.recipeName}}</h4>


            <div class="card-text recipe-card-text" style="width: 100%; float: left; padding: 0.4rem;">
                <h6>Ingredients</h6>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li><strong>{{ingredient}}</strong></li>
                    {% endfor %}
                </ul>
                <h6 class="text-capitalize">Author {{recipe.author}}</h6>
                <div class=" button-wrapper">

                    <a class="button btn btn-success"
                        href="{{url_for('recipe_details.details_recipe', recipeName=recipe.recipeName)}}">Details</a>



                </div>
            </div>

        </div>
    </div>


    {% endfor %}
</div>

{% include 'modals.html'%}

{% endblock content %}