{% extends "layout/footer_nav.html" %}
{% block content %}
<!-- Moved this from inline to css file -->
<!-- width: 70rem; margin-top: 1rem;padding-top: .5rem -->
<div class="card mx-auto recipeDetails-card" style="">

    <img src="{{url_for('load_many_recipes.showImage', filename=image)}}" style="" class="mx-auto">


    <div class="card-body">
        <h4 class="card-title" style="text-align: center;">{{recipe.recipeName}}</h4>
        <div class="card-text vegetarian-true-false">
            {%if recipe.vegetarian%}
            <h5>Vegetarian: <i class='fa-li fa fa-check-square checkbox-true'></i></h6>
                {% else %}
                <h5>Vegetarian: <i class='fa-li fa fa-square checkbox-false'></i></h5>
                {% endif %}
        </div>
        <div class="card-text" style="width: 50%; float: left; padding: 0.4rem;">
            <h6>ingredients</h6>
            {% for ingredient in recipe.ingredients %}
            <ul>
                <li><strong>{{ingredient}}</strong></li>
            </ul>
            {% endfor %}
        </div>
        <div class="card-text" style="width: 50%; float: right; padding: 0.4rem;">
            <h6>Steps</h6>
            <ol>
                {% for step in recipe.how_to %}

                <li><strong>{{step}}</strong></li>

                {% endfor %}
            </ol>
        </div>
        <!-- {{recipe.author}}{{session["user_name"]}} -->
        {% if session["user_name"] == recipe.author %}
        <a class="button btn btn-success"
            href="{{url_for('edit_recipe.load_edit_page', recipeName=recipe.recipeName)}}">Edit</a>
        {% endif %}
    </div>
    {% endblock %}