<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand mx-auto" href="#">One byte of a bakers dozen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{url_for('addRecipe')}}">Add a recipe</a>

        </div>
        <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#login">Login</button>
    </div>
</nav>


{% extends 'layout/base.html'%} {% block content %}
<!-- Moved this from inline to css file -->
<!-- width: 70rem; margin-top: 1rem;padding-top: .5rem -->
<div class="card mx-auto recipeDetails-card" style="">
    <!-- Moved style from inline to css file -->
    <!-- height: 30rem; width:30rem; -->
    <img src="{{url_for('showImage', filename=image)}}" style="" class="mx-auto">


    <div class="card-body">
        <h4 class="card-title" style="text-align: center;">{{recipe.recipeName}}</h4>
        <div class="card-text vegetarian-true-false">
            {%if recipe.vegetarian%}
            <h5>Vegetarian: <i class='fa-li fa fa-check-square checkbox-true'></i></h6>
                {% else %}
                <h5>Vegetarian: <i class='fa-li fa fa-square checkbox-false'></i></h5>
                {% endif %}
        </div>
        <div class="card-text" style="width: 50%; float: left; padding: 0.4rem;">
            <h6>ingredients</h6>
            {% for ingredient in recipe.ingredients %}
            <ul>
                <li><strong>{{ingredient}}</strong></li>
            </ul>
            {% endfor %}
        </div>
        <div class="card-text" style="width: 50%; float: right; padding: 0.4rem;">
            <h6>Steps</h6>
            <ol>
                {% for step in recipe.how_to %}

                <li><strong>{{step}}</strong></li>

                {% endfor %}
            </ol>
        </div>
    </div>
    {% endblock %}