<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Byte of a bakers dozen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="favicon/site.webmanifest">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav float-left" style="">
                <a class="navbar-brand" href="{{url_for('load_many_recipes.load_recipes')}}">One byte
                    of a
                    bakers
                    dozen</a>
            </div>
            {% if session["user_name"] %}
            <div class="navbar-nav mx-auto">
                <h4 class="nav-item mx-auto">Welcome
                    {{ session["user_name"] }}</h4>
            </div>
            <!-- <a href="{{url_for('my_recipes.load_my_recipes', author=session['user_name'])}}">My recipes</a> -->
            <div class="navbar-nav ml-auto" style="padding:0; display:inline;">

                <a type="button" class="nav-item btn btn-primary justify-content-end logout-button"
                    style="display: inline;" href="{{url_for('logout_user.logout')}}">logout</a>
            </div>
            {% else %}
            <div class="navbar-nav ml-auto">

                <button type="button" class="nav-item btn btn-primary justify-content-end" data-toggle="modal"
                    data-target="#login">Login</button>
            </div>
            {% endif %}
        </div>
        </div>


        </div>
    </nav>


    <div id="page-container">

        {% block content %}{% endblock %}

        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center mb-0 px-4 small pt-5">
                    <b>Copyright &copy; 2020 All rights reserved.</b>

                </p>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="{{url_for('static', filename='js/script.js')}}" type="js" />

</body>

</html>